{% extends 'base.html' %}

{% block content %}
<main>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ todolist.name }}" ?</p>
        {{ form.as_p }}
        <div>
            <button>Delete</button>
        </div>
    </form>
</main>
{% endblock content %}
