{% extends 'base.html' %}

{% block content %}
    <header>
        <h2>{{todolist.name}}</h2>
        <nav>
            <a href="{% url 'todolist_list' %}">Back to List</a>
            <a href="{% url 'todolist_delete' todolist.id %}">Delete Todo List</a>
            <a href="{% url 'todolist_edit' todolist.id %}">Edit Todo List</a>
        </nav>
    </header>
    <main>
        <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Due date</th>
        </tr>
      </thead>
      <tbody>
        {% for item in todolist.items.all %}
          <tr>
            <td>
              <a href="{% url 'todoitem_update' item.id %}">{{ item.task }}</a>
            </td>
            <td>{{ item.due_date|date:"M d, Y"}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </main>
{% endblock content %}