{% extends 'base.html' %}

{% block content %}
<main>
    <h2>Edit Todo List</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button>Update</button>
            </div>
        </form>
</main>
{% endblock content %}