{% extends 'base.html' %}

{% block content %}
    <header>
        <h2>Todo Lists</h2>
        <nav>
            <a href="{% url 'todolist_create' %}">Create Todo List</a>
            <a href="{% url 'todoitem_create' %}">Create Todo Item</a>
        </nav>
    </header>
    <main>
        <ul>
            {% for list in todolist_list %}
            <h3>
                <a href="{% url 'todolist_detail' list.id %}">{{list.name}}</a>
            </h3>
            {% endfor %}
        </ul>
    </main>

{% endblock content %}