{% extends 'base.html' %}

{% block content %}
<main class="recipe-form">
  <h2>Edit Todo list Item</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button>Update Item</button>
    </div>
  </form>
</main>

{% endblock content %}